@using DevExpress.Blazor;
@using RazorClassLibrary;
@page "/datagrid"
@rendermode InteractiveServer

<PageTitle>Projects</PageTitle>

<h3>Projects</h3>

<DxGrid Data="@Data" PageSize="25" TextWrapEnabled="false" ShowGroupPanel="true" PagerAutoHideNavButtons="false" PageSizeSelectorVisible="true" SizeMode="SizeMode.Small">
    <Columns>
        <DxGridDataColumn FieldName="Site" Width="140px" />
        <DxGridDataColumn FieldName="Status" Width="100px" />
@*         <DxGridDataColumn FieldName="DepartmentPriority" Width="15%" /> *@
        <DxGridDataColumn FieldName="Project" Width="300px" />
        <DxGridDataColumn FieldName="BusinessOwner" Width="15%" />
        <DxGridDataColumn FieldName="TicketNumber" DisplayFormat="{0:g}" TextAlignment="GridTextAlignment.Auto" Width="15%" />
        <DxGridDataColumn FieldName="StartDate" DisplayFormat="d" TextAlignment="GridTextAlignment.Center" Width="15%" />
        <DxGridDataColumn FieldName="ProjectedEndDate" DisplayFormat="d" TextAlignment="GridTextAlignment.Center" Width="15%" />
@*         <DxGridDataColumn FieldName="Forecast" Width="15%" />
        <DxGridDataColumn FieldName="CloudCover" Width="15%" />
        <DxGridDataColumn FieldName="TemperatureC" Caption="@("Temp. (\x2103)")" Width="10%" />
        <DxGridDataColumn FieldName="TemperatureF" Caption="@("Temp. (\x2109)")" Width="10%" /> *@
    </Columns>
</DxGrid>

@code {
    List<ProjectModel> Data { get; set; }

    protected override void OnInitialized()
    {
        Data = Database.GetProjects();
    }
}
